@import "fonts";
@import "vars.scss";
@import "mixins.scss";

:root {
  --light: #FFFFFF;
  --dark: #000000;
  --primary-dark: #BF964F;
  --primary-light: #E4C081;
  --width-base: 1440;
  --width-current: 100vw;
  --width-multiplier: var(--width-current) / var(--width-base);
}

@media(max-width: 1024px) {
  :root {
    --width-base: 768;
    --width-current: 100vmin;
  }
}

@media(max-width: 767px) {
  :root {
    --width-base: 375;
    --width-current: 100vmin;
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(100 * var(--width-multiplier));
}

:-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar {
  width: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--light, $light);
  font: 400 calc(16 * var(--width-multiplier))/1 Montserrat;
  text-rendering: optimizeSpeed;
  background-color: var(--dark, $dark);
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  width: 100%;
  padding: 0 calc(32 * var(--width-multiplier));

  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}


input {
  width: 100%;
  padding: calc(14 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid #262626;
  border-radius: calc(8 * var(--width-multiplier));
  color: rgba(255, 255, 255, 1);
  background-color: rgba(15, 15, 15, 1);
  font: inherit;

  &::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(8 * var(--width-multiplier));
  width: max-content;
  padding: calc(18 * var(--width-multiplier));
  border: none;
  border-radius: calc(8 * var(--width-multiplier));
  font: inherit;
  font-weight: 600;
  @include transition;

  &:hover:not(:disabled) {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.5;
  }

  &-full {
    width: 100%;
  }

  &-primary {
    color: var(--light, $light);
    background: linear-gradient(90.18deg, #E4C081 0%, #BF964F 99.48%);
  }
}


h1,
h2 {
  font: 400 calc(42 * var(--width-multiplier))/1 Forum;

  @media (max-width: 1024px) {
    font-size: calc(32 * var(--width-multiplier));
  }

  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h3 {
  font: 600 calc(32 * var(--width-multiplier))/1 Forum;

  @media (max-width: 1024px) {
    font-size: calc(24 * var(--width-multiplier));
  }

  @media (max-width: 767px) {
    font-size: calc(22 * var(--width-multiplier));
  }
}

h4 {
  font: 500 calc(24 * var(--width-multiplier))/1 Forum;

  @media (max-width: 1024px) {
    font-size: calc(22 * var(--width-multiplier));
  }

  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier));
  }
}

h5,
h6 {
  font-family: Forum;
  line-height: 1;
}
